.sidebar_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100vh;
	z-index: 101;
	background-color: blue;
	transition: all 0.5s linear;
	transform: translateX(-100%);
}
.sidebar_container.open {
	transform: translateX(0);
}
.sidebar_container > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 1rem;
	gap: 20px;
	width: 100%;
}
.link {
	display: block;
	color: white;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateX(-100%);
	background-color: rgba(0, 0, 0, 0.2);
}
.overlay.open {
	transform: translateX(0);
}
.sidebar_container > ul > form {
	display: flex;
	align-items: center;
	height: 10vh;
	width: 100%;
}
.sidebar_container > ul > form > input {
	display: flex;
	align-items: center;
	height: 100%;
	outline: none;
	border: none;
	padding-left: 0.6rem;
	background-color: whitesmoke;
	width: 60%;
}
.sidebar_container > ul > form > button {
	display: flex;
	align-items: center;
	height: 100%;
	outline: none;
	border: none;
}
.sidebar_container > ul > .auth {
	display: grid;
	gap: 1rem;
}
