:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
}
a {
	font-weight: 500;
	color: white;
	text-decoration: none;
	transition: background 0.4s linear;
}
a:hover {
	color: #535bf2;
}

body {
	width: 100%;
	overflow-x: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
form {
	border: none;
	border-radius: 0px;
}
button {
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	border: none;
	border-radius: 0px;
}
input {
	border: none;
	border-radius: 0px;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
